.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%), url('/img/bg-signup.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

.icon-text i {
    color: white;
    font-size: 2.2em;
    margin-bottom: 0.2em;
}

.icon-text h1 {
    color: white;
    font-size: 2em;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.05em;
}

.subscribe-input {
    margin-bottom: 10%;
}

.subscribe-input input {
    box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1);
    padding: 1.25rem 9rem;
    height: auto;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}



